In [1]:
import math
import pandas as pd
import numpy as np

c = 3 * 10**8
T = 5773
h = 6.62 * 10**(-34)
k = 1.38 * 10**(-23)

lambda1 = 600 * 10**(-9)
lambda2 = 500 * 10**(-9)
lambda3 = 400 * 10**(-9)

v1 = c / lambda1
v2 = c / lambda2
v3 = c / lambda3

print(v1)
print(v2)
print(v3)

499999999999999.94
599999999999999.9
749999999999999.9

Above are our constants and the values we used, it also includes the equations we used to solve for frequency. I began with redoing problem 6 from Homework 1 so I could get a better understanding of how to setup numerical integration.

In [2]:
dv = 100000000
F_B = 0
while v2 <= v3:
    
    Bv_B = ((2* h * v2**3) / (c**2 * (math.exp(((h*v2)/(k*T))-1)))) * dv
    
    F_B = F_B + Bv_B
    
    v2 = v2 + dv
    
v2 = c / lambda2   
print(F_B)

6812813.269058177

Since the range of the blue spectrum (B) is from wavelength of 400nm to 500nm we use v2 and v3 as our bounds of integration. These frequency bounds are the values that correspond to the wavelengths. In this while loop, we approximate the integral by calculating B_v(T) for the blue spectrum by using numerical integration. This integration is done by calculating the Bv value at a particular frequency (this is the height of the rectangle) and multiply it by its change in frequency (dv or the width of the rectangle). By doing this operation, we get an approximation of the area under the curve for the Bv function as v changes which gives us the Flux.

In [3]:
F_V = 0
while v1 <= v2:
    
    Bv_V = ((2* h * v1**3) / (c**2 * (math.exp(((h*v1)/(k*T))-1)))) * dv
    
    F_V = F_V + Bv_V
    
    v1 = v1 + dv
    
v1 = c / lambda1
print(F_V)

6884257.570995692

In the cell above, I did the exact same thing as the prior one, but I did my integration from the green spectrum range of frequencies.

In [4]:
R = F_B / F_V
print(R)

0.989622075989934

In [5]:
BV = -2.5 * math.log10(R)
print(BV)

0.011326563121769072

The values above give us the BV value and solves for problem 6.

In the cell below I do the integration for the full solar spectrum.

In [6]:
pd.read_csv("PlanckSun.csv")

                  v           I_v  Unnamed: 2    Unnamed: 3
0      0.000000e+00  0.000000e+00         NaN  2.997925e+08
1      1.000000e+11  1.780000e-14         NaN  6.630000e-34
2      2.000000e+11  7.120000e-14         NaN  1.380000e-23
3      3.000000e+11  1.600000e-13         NaN           NaN
4      4.000000e+11  2.850000e-13         NaN           NaN
...             ...           ...         ...           ...
19996  2.000000e+15  7.630000e-12         NaN           NaN
19997  2.000000e+15  7.620000e-12         NaN           NaN
19998  2.000000e+15  7.620000e-12         NaN           NaN
19999  2.000000e+15  7.610000e-12         NaN           NaN
20000  2.000000e+15  7.610000e-12         NaN           NaN

[20001 rows x 4 columns]

Here I am just importing the excel file.

In [7]:
PlanckSun = pd.read_csv("PlanckSun.csv")
PlanckSun.columns

Index(['v', 'I_v', 'Unnamed: 2', 'Unnamed: 3'], dtype='object')

In [8]:
frequency = []
intensity = []

In [9]:
for i in range(len(PlanckSun)):
    frequency.append(PlanckSun.v[i])
    intensity.append(PlanckSun.I_v[i])
    
print(frequency[1])

total_intensity = 0


for i in intensity:
    total_intensity = frequency[1] * i + total_intensity
    
total_intensity = total_intensity * np.pi
print(total_intensity)

100000000000.0
64045307.9959605

Here we have the data in excel being added to the arrays we made for frequency and intensity. We solve for the total intensity by taking the interval in which the frequency increases for each data point and mulstiplying it by the intensity and summing up all data points. We get the resulting value.

In [10]:
v = 0
dv = 1000000000
Iv = 0
while v <= 2000000000000000:
    
    Bv = ((2* h * v**3) / (c**2 * (math.exp(((h*v)/(k*T))-1)))) * dv
    
    Iv = Iv + Bv
    
    v = v + dv
    
print(Iv)

50321965.55264661

Another way to solve for the total intensity is to use the specific equation. I start off with a frequency of 0 and add 1E+11 everytime as seen in the excel file and I go up to 2E+15. Similar to the integration I did in the earlier cell, we get an approximation for the intensity of our sun.

Here we see that the values are a bit off but not by a whole decimal place.